<div id="zitat">
  "Jubel und stehende Ovationen für 80 Minuten,
  <br> die unter akuter
  <span>Suchtgefahr</span>
  laufen."
  <div>Irina Lino, Neue Kronen Zeitung</div>
</div>
<div id="next">
  <div class="next_button">
    <ul>
      <li>
        <a ui-sref="main({type:'oper'})">
          <h2>Oper</h2>
          <small>Muchogusto - Una Ópera tragi-érótico</small>
        </a>
      </li>
      <li>
        <a ui-sref="main({type:'band'})">
          <h2>In Concert</h2>
          <small>Muchogusto y los Toros del Diablo</small>
        </a>
      </li>
    </ul>

  </div>
</div>