<div class="Scontent" id="content_data" style="">
  <h1 style="margin-left: 160px;" class="left">About</h1>
  <h1 class="left"><a onclick="loadContent('hintergrund',true);active = 1;" href="javascript:;"> Background</a></h1>
  <h1 class="left"><a onclick="loadContent('story',true);active = 1;" href="javascript:;"> Story</a></h1>
  <p class="text clear" id="beitrag">
    DIE OPER:
    <br>MUCHOGUSTO - Una Ópera tragi-erótico
    <br>
    <br>„Tantas curvas y yo sin frenos!“
    <br>(So viele Kurven und ich keine Bremsen!)
    <br>Die Geschichte des größten Frauenhelden aller Zeiten &ndash; verpackt in eine Oper voller heissblütiger Rumba- Klänge, verführerischem Jazz und leidenschaftlicher Surf-Rock Musik der 50er Jahre.
    <br>
    <br>Eine munter drauflos rockende Band, ein grandioser Hauptdarsteller und eine surrealistisch anmutende Geschichte &ndash; das sind die Zutaten aus denen Lukas Kranzelbinders „Ópera tragi-erótico“ gemixt ist. Uraufgeführt beim Carinthischen Sommer 2012
    erhielt dieses Werk stehende Ovationen vom Publikum und frenetische Meldungen in den Medien. Der spanische Held Gaël Muchogusto - welcher weder seiner eigenen Sprache, noch seines Schicksals mächtig ist - steht im Mittelpunkt eines charmant-skurrilen
    Schauspiels, das zwar im weitesten Sinne als Oper bezeichnet werden kann, sich bei genauerer Betrachtung aber jeglicher Kategorisierung entzieht. Unterstützt von großflächigen Videoprojektionen und einem in absurdem Deutsch-Spanisch gehaltenen Libretto
    baut sich eine Erzählung von konfusen Liebeserklärungen und schicksalhaften Versprechungen auf, in der zwei bildschöne Schwestern, ein bösartiger Zwiebel-Bauer und ein mysteriöser Fuchs den tragischen Helden mehrmals an den Rand der Verzweiflung bringen.
    <br>Der österreichische TV-Star Helmut Bohatsch („Bohatsch spielt, spricht und singt Gaël Muchogusto mit großer Intensität und einem komischen Spanisch-Deutsch-Italienisch-Kauderwelsch“ Kleine Zeitung) brilliert in diesem spanischen Road-Movie als „grandioser
    Hauptdarsteller“ und trifft dabei auf ein intensivhingebungsvolles und kompromisslos-leidenschaftliches Ensemble aus Europas aufstrebenden Jung- Musikern. Der Neue-Deutsche-Jazzpreisträger Tobias Hoffmann, Hans-Koller-Preisträger Lukas König und der
    Vorarlberger Pianist Benny Omerzell sind nur einige der klingen Namen dieser 8-köpfigen „Dream-Band“. Kranzelbinder, der sowohl für die gesamte Komposition als auch für das Libretto verantwortlich zeichnet und mit 24 Jahren „schon jetzt und nicht
    von ungefähr zu den vielversprechendsten Jazz-Musikern Österreichs gehört“ (Neue Kronen Zeitung) gelang auch in der Kooperation mit der gefragten Dramaturgin Marie Steiner ein weiterer Glücksgriff. Mit viel Fingerspitzengefühl und Erfahrung setzte
    diese die anspruchsvollen Visionen des jungen Kärntners um und schlug damit gekonnt eine Brücke zwischen Musik- und Theatererlebnis.
  </p>
  <div style="display: none;">null</div>
</div>